name: CI to Azure Container Registry
on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        name: Checkout source code

      - name: Log in to Azure Container Registry
        uses: docker/login-action@v2
        with:
          registry: lifelog.azurecr.io
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Build and push Docker image
        run: |
          docker build . --build-arg APP_BUILD_SHA=${{ github.sha }} -t lifelog.azurecr.io/lifelog:${{ github.sha }}
          docker push lifelog.azurecr.io/lifelog:${{ github.sha }}

      - uses: azure/webapps-deploy@v2
        with:
          app-name: 'lifelog'
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          images: 'lifelog.azurecr.io/lifelog:${{ github.sha }}'
